<br />
<div class="jumbotron">
    <h1>About BuzzThread</h1>
    <p>BuzzThread is an easy way to share what's important to you!</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>We strive to bring people together</h2>
        <p>BuzzThread is a cool, simple web application that makes it easy for you to stay up to date with the world, as well as to share the latest happenings with your inner circle. We strive to give our users the freedom to post what they want, when they want (while being polite, of course). BuzzThread is a great way to share cool media, and is open to everyone!</p>
    </div>
    <div class="col-md-4">
        <h2>Try us out today!</h2>
        <p>Do you enjoy expressing yourself and sharing things with friends and family? Why not sign up for BuzzThread today! It's free, and we don't bite (we promise).</p>
    </div>
</div>
